* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
  }
body {
    background-color: rgb(20, 19, 19);
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}
#LCD{
    color: ivory;
}
h2 {
    text-align: center;
    margin-bottom: 1.5%;
    color: #fff;
  }
button {
    padding: 25px;
    color: rgb(255, 255, 255);
    font-size: 1em;
    cursor: pointer;
    width: 70px;
    background-color: rgb(47, 51, 50);
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 2px;
  }
button:hover {
    background-color: rgb(160, 160, 160);
      color: #fff;
}
#theme {
    border: none;
  background-color: rgb(41, 38, 38);
  padding: 8px;
  color: white;
  margin: 2px;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: 200;
}
div {
  background-color: gray;
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  margin: 20px;
}